#logo {
    margin: 10px 0 0 0;
  }
  
  #search {
    border-bottom: 1px solid #324950;
    display: inline-block;
    max-width: 350px;
    width: 100%;
    margin: 10px 0 43px 0;
  }
  
  #search input {
    font-size: 16px;
    color: #324950;
    background-color: transparent;
    border: none;
    max-width: 327px;
    height: 29px;
    width: 100%;
  }
  
  #search input::placeholder {
    color: #324950;
  }
  
  #search button {
    background: url(../images/search.png) no-repeat center;
    font-size: 0;
    height: 18px;
    width: 18px;
    border: none;
    cursor: pointer;
    margin: 3px;
  }
  
  .header-white {
    padding-bottom: 23px;
  }
  
  #menu {
    font-family: 'Heebo', serif;
  }
  
  #menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  #menu ul li {
    display: inline;
    margin-left: 15px;
  }
  
  #menu ul li a {
    color: #324950;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.35s;
    font-family: 'Roboto Slab';
  }
  
  #menu ul li a:hover {
    color: #57984C;
  }
  