body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
.wrapper{
    max-width:1127px;
    width:100%;
    margin:0 auto;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}

.w-1 {
    width: 100%;
    float:left;
}

.w-2 {
    width: 50%;
    float: left;
}

.w-3 {
    width: 33.33%;
    float: left;
}

.w-4 {
    width: 25%;
    float: left;
}

.w-5 {
    width: 20%;
    float: left;
}

.w-7 {
    width: 14%;
    float: left;
    text-align: center;
}

.w-7 img {
vertical-align: middle; 
    }

.align-right{
text-align:right;
}

.flex {
    display: flex;
    align-items: flex-end;
}

#logo{
    margin:10px 0 0 0;
}

#search {
    border-bottom: 1px solid;
    color: #1c7591;
    display: inline-block;
    max-width: 350px;
    width: 100%;
    margin: 10px 0 43px 0;
}

#search input {
    font-size: 16px;
    color: #1c7591;
    background-color: transparent;
    border: none;
    max-width: 327px;
    height: 25px;
    width: 100%;
}


    #search input::placeholder {
        color: #1c7591
    }

#search button {
    background: url(../images/search.png) no-repeat center;
    font-size: 0;
    height: 18px;
    width: 18px;
    border: none;
    cursor: pointer;
    margin-bottom: 8px;
}

#menu{

}

#menu.active {

}

#menu ul {
padding:0;
margin:0;
list-style: none;
}

#menu ul li {
display:inline;
margin-left:15px;
}

    #menu ul li a {
        color: #1c7591;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        transition: color 0.3s ease, font-size 0.3s ease, transform 0.3s ease;
    }

        #menu ul li a:hover {
            color: #57984C;
        }

        #menu ul li a:active {
            font-size: 20px;
            transform: scale(1.2);
        }

#slider {
    text-align: center;
    background: url(../images/back.jpg) no-repeat center;
    background-size: cover;
    padding: 338px 0;
    margin-top: -135px;
}

    #slider h1 {
        color: #735440;
        font-size: 48px;
        font-weight: bold;
    }

    #slider a {
        display: block;
        background-color: #57984C;
        color: aliceblue;
        font-size: 16px;
        text-align: center;
        width: 155px;
        height: 55px;
        margin: 0 auto;
        text-decoration:none;
        line-height: 55px;
    }

.content h1 {
    font-family: 'Roboto Slab', serif;
}

.content a {
    font-family: 'Roboto', serif;
}

.flex input {
    font-family: 'Roboto Slab', serif;
}

#sections {
    max-width: 1600px;
    width: 100%;
    margin: 25px auto;
    text-align: center;
}

    #sections  .row {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-5px, 0);
    }

    50% {
        transform: translate(5px, 0);
    }

    75% {
        transform: translate(-5px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}


#sections .row .w-7:hover {
    animation: shake 0.5s;
}

#sections .row .w-7 .text {
    color: black;
    transition: color 0.3s ease;
}

#sections .row .w-7:hover .text {
    color: green;
}


.text {
    margin-top: 20px;
}


.vision-frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-enclosure {
    text-align: left;
    margin-right: 30px;
}

.photo-enclosure {
    margin-left: 15px;
}



.mission-frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-enclosure2 {
    text-align: left;
    margin-right: 30px;
}

.photo-enclosure2 {
    position: relative;
    margin-left: 15px;
}
.centered-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mes1 {
    font-family: 'Roboto Slab', serif;
    color: #1b7413;
    font-size: 64px;
    margin: 0;
}

.mes2 {
    font-family: 'Roboto Slab', serif;
    color: #57984C;
}

.mes3 {
    font-family: 'Roboto Slab', serif;
    color: #1b7413;
    font-size: 20px;
}



#osnova {
    background: url(../images/___.png) no-repeat center;
    background-color: #F7F7F7;
    font-size: 20px;
    padding: 78px 0;
}

#lower-content {
    background-color: #EDEDED;
    text-align: center;
    padding: 78px 0;
}
.heading {
    font-size: 64px;
    font-weight: bold;
    color: #324950;
    line-height: 147.7%;
    margin: 0;
}

.exes {
    color: #57984C;
    font-size: 20px;
}

.grains {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.subheading {
    font-size: 24px;
    font-weight: bold;
    color: #57984C;
    margin: 0;
}

.line {
    margin: 25px 0 10px 0;
}


.footer_section {
    display: flex;
    flex-direction: row;
    background-color: #2D3F45;
    padding: 15px 5px;
    align-items: center;
    justify-content: space-around;
}

.social_media {
    display: flex;
    justify-content: space-between;
    width: 12%;
    margin-right: 300px;
}

#Сonnexions {
    margin-left: 150px;
    font-family: 'Roboto', serif;
}
    #Сonnexions a {
        color: #ffffff;
        transition: color 0.3s ease;
    }

        #Сonnexions a:hover {
            color: #ff0000;
            transform: scale(1.2);
        }

    


#Сonnexions ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

    #Сonnexions ul li {
        display: inline;
        margin-left: 2em;
    }

        #Сonnexions ul li a {
            color: #ffffff;
            font-size: 16px;
            text-decoration: none;
            transition: color 0.4s;
        }

img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .w-2 {
        width: 100%;
    }

    .align-right {
        text-align: center;
    }
  
    #search {
        max-width: 100%;
    }

        #search input {
            max-width: 100%;
        }

    .footer_section {
        flex-direction: column;
    }

    .social_media {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
    }

    #Сonnexions ul li {
        margin-left: 0;
        margin-bottom: 5px;
    }
}

.footer {
    background-color: #1c7591;
    color: #B9B9B9;
    padding: 3px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}

